<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<form action="coba.php" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td>
        <label for="file1">File 1:</label>
        <input type="file" name="file1" id="file1">
      </td>
    </tr>
    <tr>
      <td>
        <label for="file2">File 2:</label>
        <input type="file" name="file2" id="file2">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>

</body>
</html>